{% extends 'tasks/base.html' %}
{% block content %}
<div>
	<form method="POST" action="{% url 'tasks:list' %}">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create Task">
    </form>

    <div>
        {% for task in tasks %}
        <div>
            <a href="{% url 'tasks:update_task' task.id %}">Update</a>
            <a href="{% url 'tasks:delete_task' task.id %}">Delete</a>

            {% if task.complete == True %}
                <strike>{{ task }}</strike>
            {% else %}
                <span>{{ task }}</span>
            {% endif %}
        </div>
        {% endfor %}

        </div>
            <h3>Task Lists</h3>
            <ul>
                
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}