{% load static %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="center-login">
    <form method="POST">
        {% csrf_token %}
        <!-- Below line is added to push the "next" attribute into request. -->
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {{form.as_p}}
        <div style="text-align: center"><button class="btn btn-sm btn-info" type="submit">Sign In</button></div>
    </form>

    <p>If you don't have an account <a href="{% url 'main:register' %}" target="blank"><strong>register</strong></a> instead.</p>
</div>
</body>